<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create Session</title>

  <!-- Bootstrap -->

  <link href="../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fonts -->

  <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">

  <!-- Stylesheets -->

  <link href="../../../stylesheets/styleFiachra.css" rel="stylesheet">



</head>
<body >
    <div id="page-container">

  <!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

      <a class="navbar-brand js-scroll-trigger" href="../../">

      <img class="logo" src="../../../images/logo.png"></a>
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">My Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/forum">Join the Discussion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/account">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/logout">Sign Out</a>
            </li>

        </ul>

      

    </div>
  
  </nav>

        <form method="POST" id="form" style="display:none"action="/dashboard/noticeboard">
            <input type="hidden" name="_csrf" value="{{cybersecurity}}"/>
             <input type="hidden" name="team" value="{{team._id}}">
             <input type="hidden" name="player" value="{{user._id}}">
         </form>
      
       <nav class="dashSubMenu" style=" margin-top: -66px;">
         <ul>
           {{#if user.userType}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/settings">Settings</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/email">Team Email</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/noticeboard/create">Noticeboard</a>
            </li>
            {{else}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/details">Team Details</a>
            </li>
            <li style="float: right" id="notLink" class="nav-item">
               <a class="nav-link">Noticeboard</a>
            </li>
            {{/if}}
       <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/nutrition">Nutrition</a>
      </li>
         <li style="float: right" class="nav-item">
          <a class="nav-link"  href="/dashboard/gym">Gym</a>
      </li>
      <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/training">Training</a>
      </li>
            <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/forum">Forum</a>
      </li>
            <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/results">Results</a>
      </li>
       <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/fixtures">Fixtures</a>
      </li>
       <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/squad">Squad</a>
      </li>
        <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/video">Video Analysis</a>
      </li>
      <li style="float: right" class="nav-item">
          <a class="nav-link" href="/dashboard/formations">Formations</a>
      </li>
       <li style="float: left" class="nav-item">
          <a class="nav-link" href="/dashboard">{{team.teamName}}</a>
      </li>


  </ul>

  </nav>



<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

<section id="dash" style="height:700px; margin-top:130px">

<center>

<h2>New Training Session </h2>

<form style="margin-top:20px; width:600px"action="" method="POST">
  <input type="hidden" name="_csrf" value="{{cybersecurity}}"> 
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="title">Title </label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="warmup">Warm Up</label>
      <input type="text" class="form-control" id="warmup" name="warmup" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="category">Category</label>
      <div class="input-group">
        <select name="category" id="category" class="form-control">
         <option value="null">Select Category</option>
         <option value="shooting">Shooting </option>
         <option value="passing"> Passing </option>
         <option value="keeping">Keeping </option>
         <option value="dribbling">Dribbling </option>
         <option value="defending">Defending </option>
         <option value="cooldown">Cooldown </option>
         <option value="miscellaneous">Miscellaneous </option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="length">Length</label>
      <input type="text" class="form-control" id="length" name="length" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cooldown">Cooldown</label>
      <input type="text" class="form-control" id="cooldown" name="cooldown" required>
    </div>
  </div>
  <div class="form-row">
{{#if user.userType}}
    <div class="col-md-6"> 
        <label for="visibility"> Visibility</label>
        <select  id="visibility" name="publicInd" class="form-control">
        <option>Select Visibility</option>
       
        <option value="false">Team Only </option>
        {{else}}
        <option value="false"> My Eyes Only </option>
        {{/if}}
        <option value ="true">Public </option>
        </select>
      <br> 
      </div> 
     
     </div>
<button class="button" type="submit">Submit</button>

</center>


 
</form>

</section>


  <!-- Bootstrap core JavaScript -->
  <script src="../../..//vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../../../javascripts/newScript.js"></script>

   
 <footer>
    <div class="container">
      <p style="color: rgba(255, 255, 255, 0.3)">&copy; SportsAssist 2020 | All Rights Reserved | <a style="color: rgba(255, 255, 255, 0.3)" href="/terms">T&Cs</a> | Fiachra Healy, Seosamh Ó Roibín, Aleksander Kosnik, Shain Sutton</p>
      </div>
  </footer>
</div>

  </body>
</html>