<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Team Details</title>
      <!-- Bootstrap -->
      <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Fonts -->
      <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Stylesheets -->
      <link href="../stylesheets/styleFiachra.css" rel="stylesheet">
   </head>
   <body onload="setSettingsJersey('{{team.col1}}','{{team.col2}}','{{team.jerseyType}}')">
      <div id="page-container">
         <!-- Navigation -->
         <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="../">
            <img class="logo" src="../images/logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link"  href="/teams">My Teams</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/forum">Join the Discussion</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/account">My Account</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/logout">Sign Out</a>
                  </li>
               </ul>
            </div>
         </nav>
         
        <form method="POST" id="form" style="display:none"action="/dashboard/noticeboard">
            <input type="hidden" name="_csrf" value="{{cybersecurity}}"/>
             <input type="hidden" name="team" value="{{team._id}}">
             <input type="hidden" name="player" value="{{user._id}}">
         </form>
      
        <nav class="dashSubMenu" style=" margin-top: 4px;">
         <ul>
           {{#if user.userType}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/settings">Settings</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/email">Team Email</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/noticeboard/create">Noticeboard</a>
            </li>
            {{else}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/details">Team Details</a>
            </li>
            <li style="float: right" id="notLink" class="nav-item">
               <a class="nav-link">Noticeboard</a>
            </li>
            {{/if}}
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/nutrition">Nutrition</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link"  href="/dashboard/gym">Gym</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/training">Training</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/forum">Forum</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/results">Results</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/fixtures">Fixtures</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/squad">Squad</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/video">Video Analysis</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/formations">Formations</a>
               </li>
               <li style="float: left" class="nav-item">
                  <a class="nav-link" href="/dashboard">{{team.teamName}}</a>
               </li>
            </ul>
         </nav>
         <section class="defaultContainer" style="margin-top: 60px" style="background-color:#f8f9fa" id="createTeam">
            <div class="container">
               <div class="row text-center">
                  <div class="col-lg-12">
                     <h2>Team Details</h2>
                     <br>
                  </div>
               </div>
               {{#if msg}}
               <div class="alert">
                  <h4> {{msg}} </h4>
               </div>
               {{/if}} 
               <form action="/dashboard/settings" method="POST">
                  <div class="form-group row">
                     <label for="teamName" class="col-4 col-form-label">Team Name</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-soccer-ball-o"></i>
                              </div>
                           </div>
                           <input id="teamName" name="teamName" type="text" value="{{team.teamName}}" readonly required="required" class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="addr1" class="col-4 col-form-label">Address 1</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-address-card"></i>
                              </div>
                           </div>
                           <input id="addr1" name="addr1" type="text" value="{{team.addr1}}" readonly class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="addr2" class="col-4 col-form-label">Address 2</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-address-card-o"></i>
                              </div>
                           </div>
                           <input id="addr2" name="addr2" type="text" value="{{team.addr2}}" readonly class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="county" class="col-4 col-form-label">County</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-globe"></i>
                              </div>
                           </div>
                           <input id="county" name="county" type="text" value="{{team.county}}" readonly class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="phNum" class="col-4 col-form-label">Phone Number</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-phone"></i>
                              </div>
                           </div>
                           <input id="phNum" name="phNum" type="text" value="{{team.phNum}}" readonly class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="email" class="col-4 col-form-label">Email Address</label> 
                     <div class="col-8">
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <div class="input-group-text">
                                 <i class="fa fa-envelope"></i>
                              </div>
                           </div>
                           <input id="email" name="email" type="text" value="{{team.email}}" readonly class="form-control">
                        </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="teamType" class="col-4 col-form-label">Team Type</label> 
                     <div class="col-8">
                        <input id="type" type="text" placeholder="{{team.teamType}}" readonly class="form-control">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="teamType" class="col-4 col-form-label">Team Jersey</label> 
                     <div class="col-8">
                        <div class="container">
                           <div class="row">
                              <div class="col-sm">
                                 <div class="jerDiv">
                                    <img id="preJer" class="jerPic" src="../images/jerOverlay.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </section>
         <!-- Bootstrap core JavaScript -->
         <script src="../vendor/jquery/jquery.min.js"></script>
         <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         <!-- Plugin JavaScript -->
         <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
         <!-- Custom scripts for this template -->
         <script src="../javascripts/script.js"></script>
          <footer>
    <div class="container">
      <p style="color: rgba(255, 255, 255, 0.3)">&copy; SportsAssist 2020 | All Rights Reserved | <a style="color: rgba(255, 255, 255, 0.3)" href="/terms">T&Cs</a> | Fiachra Healy, Seosamh Ó Roibín, Aleksander Kosnik, Shain Sutton</p>
      </div>
  </footer>
      </div>
   </body>
</html>