<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Videos</title>
      <!-- Bootstrap -->
      <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Fonts -->
      <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
      <!-- Stylesheets -->
      <link href="../../stylesheets/styleFiachra.css" rel="stylesheet">
   </head>
   <body onload="setUpVideo(true)">
      <div id="page-container">
         <!-- Navigation -->
         <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <a class="navbar-brand js-scroll-trigger" href="../../">
            <img class="logo" src="../../images/logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/teams">My Teams</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/forum">Join the Discussion</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/account">My Account</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link"  href="/logout">Sign Out</a>
                  </li>
               </ul>
            </div>
         </nav>
         
        <form method="POST" id="form" style="display:none"action="/dashboard/noticeboard">
            <input type="hidden" name="_csrf" value="{{cybersecurity}}"/>
             <input type="hidden" name="team" value="{{team._id}}">
             <input type="hidden" name="player" value="{{user._id}}">
         </form>
      
        <nav class="dashSubMenu" style=" margin-top: -68px;">
         <ul>
           {{#if user.userType}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/settings">Settings</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/email">Team Email</a>
            </li>
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/noticeboard/create">Noticeboard</a>
            </li>
            {{else}}
            <li style="float: right" class="nav-item">
               <a class="nav-link" href="/dashboard/details">Team Details</a>
            </li>
            <li style="float: right" id="notLink" class="nav-item">
               <a class="nav-link">Noticeboard</a>
            </li>
            {{/if}}
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/nutrition">Nutrition</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link"  href="/dashboard/gym">Gym</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/training">Training</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/forum">Forum</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/results">Results</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/fixtures">Fixtures</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/squad">Squad</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/video">Video Analysis</a>
               </li>
               <li style="float: right" class="nav-item">
                  <a class="nav-link" href="/dashboard/formations">Formations</a>
               </li>
               <li style="float: left" class="nav-item">
                  <a class="nav-link" href="/dashboard">{{team.teamName}}</a>
               </li>
            </ul>
         </nav>
         <section class="defaultContainer"  id="vidAn">
            <div class="videoTable" >
               <center>
                  <h6 style="display:none" id="noVidMessage">
                     {{#if user.userType}} {{else}} No videos available, check back when your manager makes an upload.{{/if}}
                  </h6>
               </center>
               <table id="videoPlayerTable" class ="videoPlayerTable">
                  <tr>
                     <td id="vidTd"  style="display: none; height:300px; width:600px;">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe id="frame" class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.code}}"></iframe>
                        </div>
                     </td>
                     {{#if user.userType}}
                     <td valign="top" style="width:600px;" >
                        <center>
                           <h4>Upload New Video</h4>
                           <form id="vidForm" class="form-signin" style="max-width: 2000px;" action="/dashboard/video" method="POST">
                              <div class="form-group" style="width:550px" >
                                 <input id="vidName" class="form-control" type="text" name="title" placeholder="Video Title" value="" />
                              </div>
                              <div class="form-group" style="width:550px" >
                                 <table>
                                    <tr>
                                       <td><label id="vidUrl" >https://www.youtube.com/watch?v=</label>
                                       </td>
                                       <td><input id="vidCode1" class="form-control" type="textl" name="code" placeholder="tgbNymZ7vqY" value="" />
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                              <input type="hidden" name="_csrf" value="{{cybersecurity}}">
                              <input type="hidden" name="team" value = "{{team._id}}">
                              <button class="button" style="width:320px" name="upload">Upload to Team Database</button>
                           </form>
                        </center>
                     </td>
                     {{else}}
                     <td id="vidListTd" style="display: none;" valign="top" rowspan="3">
                        <center>
                           <h4>Video List</h4>
                           <div style="width:550px; height:1000px; overflow:auto;">
                              <table id="vidList" style="width: 500px; margin-top: 20px;">
                                 {{#each videos}}
                                 <tr>
                                    <td class="vidThumb"; style="background-image: url('https://img.youtube.com/vi/{{this.code}}/2.jpg');"></td>
                                    <td class="vidInfo" onclick="linkVideo('{{this.code}}')" ><b><span style="font-size: 20px">{{this.title}}</span></b><br><span style="font-size: 12px">Uploaded: {{this.created}}</span></td>
                                 </tr>
                                 {{/each}}
                              </table>
                           </div>
                        </center>
                     </td>
                     {{/if}}
                  </tr>
                  <tr>
                     <td id="infoTd" style="background: white; display: none; border: 1px solid #ced4da; height:150px;">
                        <h5><b>Title:</b> <span id="vidTitl">{{video.title}}</span></h5>
                        <b>
                           <h5>Uploaded:
                        </b>
                        <span id="vidDate"> {{video.created}}</span></h5>
                        {{#if user.userType}}
                        <form action="/dashboard/video/delete" method="POST">
                           <button class="button" style="width:150px; margin-right:50px; float: right;" type="submit">Delete <i class="fas fa-trash"></i></button>
                           <input type="hidden" name="_csrf" value="{{cybersecurity}}">
                           <input type="hidden" id="vidToDelete" name="vidID" value="{{video._id}}">
                        </form>
                        {{/if}}
                     </td>
                     {{#if user.userType}}
                     <td id="vidListTd" style="display: none;" valign="top" rowspan="2">
                        <center>
                           <h4>Video List</h4>
                           <div  style="width:550px; height:625px; overflow:auto;">
                              <table id="vidList" style="width: 500px; margin-top: 20px;">
                                 {{#each videos}}
                                 <tr>
                                    <td class="vidThumb"; style="background-image: url('https://img.youtube.com/vi/{{this.code}}/2.jpg');"></td>
                                    <td class="vidInfo" onclick="linkVideo('{{this.code}}')" ><b><span style="font-size: 20px">{{this.title}}</span></b><br><span style="font-size: 12px">Uploaded: {{this.created}}</span></td>
                                 </tr>
                                 {{/each}}
                              </table>
                           </div>
                        </center>
                     </td>
                     {{/if}}
                  </tr>
                  <tr>
                     <td id="commentsTd" align="top" style="display: none; background: white; border: 1px solid #ced4da; height:600px;" >
                        <center>
                           <h4>Comments:</h4>
                           <form id="vidForm" style="max-width: 2000px;" class="form-signin" action="/comment" method="POST">
                              <input type="hidden" name="_csrf" value="{{cybersecurity}}">
                              <input type="hidden" name="article" value = "{{video._id}}">
                              <div class="form-group" style="width:550px" >
                                 <table>
                                    <tr>
                                       <td><input id="vidCode" style="width:400px;" class="form-control" type="textl" name="comment" placeholder="Write a Comment" value="" />
                                       </td>
                                       <td><button class="button" style="width:100px; margin-left: 20px" type="submit" name="upload">Post</button>
                                       </td>
                                    </tr>
                                 </table>
                              </div>
                           </form>
                           <div style="width:90%; height:400px; overflow:auto;">
                              <table id="vidList" style="width: 500px; margin-top: 20px;">
                                 {{#each video.comments}}
                                 <tr>
                                    <td class="vidCom"><b><span style="font-size: 15px">{{this.name}}</span></b><br><span style="font-size: 15px">{{this.comment}}</span>
                                    </td>
                                 </tr>
                                 {{/each}}
                              </table>
                           </div>
                        </center>
                     </td>
                  </tr>
               </table>
            </div>
         </section>
         <!-- Bootstrap core JavaScript -->
         <script src="../../vendor/jquery/jquery.min.js"></script>
         <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         <!-- Plugin JavaScript -->
         <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>
         <!-- Custom scripts for this template -->
         <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
         <script src="../../../javascripts/script.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"> </script>
       <footer>
    <div class="container">
      <p style="color: rgba(255, 255, 255, 0.3)">&copy; SportsAssist 2020 | All Rights Reserved | <a style="color: rgba(255, 255, 255, 0.3)" href="/terms">T&Cs</a> | Fiachra Healy, Seosamh Ó Roibín, Aleksander Kosnik, Shain Sutton</p>
      </div>
  </footer>
      </div>
   </body>
</html>